* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container,
.chartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  padding: 16px;
  gap: 24px;
}
.chartContainer {
  gap: 16px;
}

.orgchart-container {
  border: none;
}
.orgchart {
  background-image: none;
  border: none;
}
.orgchart.myChart > ul > li > ul li::before {
  border-top-color: #656271;
}
.orgchart.myChart > ul > li > ul li .oc-node::before,
.orgchart.myChart ul li .oc-node:not(:only-child)::after {
  background-color: #656271;
}
